<nav class="navbar navbar-expand-xl">
  <div class="container-fluid px-3 px-lg-4 px-xxl-5">
    <!-- Mobile / Tablet Logo -->

    <a
      class="navbar-brand navbar-logo mobile-logo"
      href="home.html"
      aria-label="Amaya Coffee Company Home"
    >
      <img src="images/Amaya logo-C4B59E.png" alt="Amaya Coffee Company" />
    </a>

    <!-- Navbar Toggler -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>

    <!-- Navigation -->

    <div class="collapse navbar-collapse" id="navbarMenu">
      <!-- Left Navigation -->

      <ul class="navbar-nav navbar-nav-left">
        <li class="nav-item">
          <a class="nav-link" href="home.html">
            <span data-i18n="common.home"> Home </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="shop.html">
            <span data-i18n="common.shop"> Shop </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="about.html">
            <span data-i18n="common.about"> About </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="journal.html">
            <span data-i18n="common.journal"> Journal </span>
          </a>
        </li>
      </ul>

      <!-- Center Logo -->

      <a
        class="navbar-brand navbar-logo navbar-logo-center"
        href="home.html"
        aria-label="Amaya Coffee Company Home"
      >
        <img src="images/Amaya logo-C4B59E.png" alt="Amaya Coffee Company" />
      </a>

      <!-- Right Navigation -->

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item">
          <a class="nav-link" href="contact.html">
            <span data-i18n="common.contact"> Contact </span>
          </a>
        </li>

        <!-- Account -->

        <li class="nav-item">
          <a
            class="nav-link nav-utility-link"
            id="navbarAccountLink"
            href="sign-in.html"
            data-i18n-aria-label="common.account"
          >
            <i class="fa-regular fa-user"></i>

            <span id="navbarAccountText"> Sign In </span>
          </a>
        </li>

        <!-- Cart -->

        <li class="nav-item">
          <a
            class="nav-link nav-utility-link"
            href="cart.html"
            data-i18n-aria-label="common.cart"
          >
            <i class="fa-solid fa-bag-shopping"></i>
          </a>
        </li>

        <!-- Book A Table -->

        <li class="nav-item">
          <a
            href="bookATable.html"
            class="nav-book-table"
            data-i18n="common.bookTable"
          >
            Book a Table
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
